{% extends 'base.html' %}
{% block content %}

<h1>Parrots List</h1>

{% for parrot in parrots %}
<a href="{% url 'detail' parrot.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ parrot.name }}</span>
      <p>Species: {{ parrot.species }}</p>
      <p>Description: {{ parrot.description|linebreaks }}</p>
      {% if parrot.age > 0 %}
        <p>Age: {{ parrot.age }}</p>
      {% else %}
        <p>Age: Chick</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}